@font-face {
    font-family: "misaki_gothic_2nd";
    src: url("font/misaki_ttf_2021-05-05/misaki_mincho.ttf");
}

body {
    font-family: "misaki_gothic_2nd";
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
hr {
    margin: 0;
}

.main-panel {
    margin: 0 auto;
    padding: 0;
    border: 5px ridge #333;
    width: 400px;
}

.title {
    text-align: center;
    width: 100%;
    margin: 0 0;
    padding: 0;
}
.bomb-icon {
    position: relative;
    top: 3px;
    width: 5%;
    margin: 0 5px;
}
#title-text {
    position: relative;
    font-size: 25px;
    top: 2px;
}


.panel {
    width: 100%;
}

.status {
    position: relative;
    font-size: 20px;
    height: 35px;
}

.flag {
    position: absolute;
    font-size: 25px;
    bottom: 0px;
    left: 70px;
}

#flag-icon {
    top: 5px;
    width: 6%;
    margin: 0 10px;
    padding: 0;
}

.timer {
    position: absolute;
    font-size: 30px;
    top: 5px;
    right: 70px;
}
.timer #ms {
    position: absolute;
    font-size: 25px;
    top: 4px;
}